@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Open+Sans:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-color: #1F1D2A;
}

.container {
    display: flex;
    flex-direction: column;
    width: 376px;
    height: 635px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.4);
    margin-top: 20px;
}

.content {
    padding: 10px;
    color: #fff;
}

.content h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.content span {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #E7E7E7;
}

.content h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 8px 0;
}

.content p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.bottom {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

button {
    width: 140px;
    height: 28px;
    border: solid #FE4141 1px;
    background-color: #1E1B26;
    color: #FE4141;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.menu {
    display: flex;
    align-items: center;
    width: 80px;
    justify-content: space-between;
    color: #FE4141;
    font-size: 20px;
}